.vs/Assignment-One/v17/.wsuo
.vs/Assignment-One/FileContentIndex/5ae92ada-1d0b-46bb-aaa3-0ae1d1072dfe.vsidx
.vs/Assignment-One/FileContentIndex/read.lock
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
